html {
  padding: 0;
  margin: 0;
}
.update-button,
.validate-button {
  background-color: green;
  color: white;
  border-radius: 7px;
}
.delete-button {
  background-color: red;
  color: white;
  border-radius: 7px;
}
input:hover {
  cursor: pointer;
}
header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: black;
  font-family: 'Bangers', cursive;
}
header h1 {
  width: 100%;
  height: 15%;
  margin: 0;
  color: yellow;
}
header nav {
  width: 100%;
  height: 85%;
}
header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
@media (max-width: 450px) {
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header a {
  text-decoration: none;
  color: orange;
}
header a:hover {
  text-decoration: underline;
}
@media (max-width: 450px) {
  header {
    height: 25vh;
  }
}
main {
  font-family: 'Oswald', sans-serif;
  background-image: url("/img/white_wall_hash.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main h1 {
  font-family: 'Bangers', cursive;
}
main h2 {
  font-family: 'Bangers', cursive;
}
main p {
  padding: 3%;
}
main .form-composer,
main .form-sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 20%;
}
main .form-sound {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .insert-sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 1%;
}
footer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: black;
  font-family: 'Bangers', cursive;
}
footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
footer li {
  text-decoration: none;
  color: orange;
}
.show-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5%;
}
.show-container .ost-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 40%;
  max-width: 40%;
  -webkit-box-shadow: 6px 7px 14px 3px #a8a8a8;
          box-shadow: 6px 7px 14px 3px #a8a8a8;
  padding: 1%;
}
.show-container .ost-container ul {
  list-style: none;
}
.show-container .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.show-container .composer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 40%;
  max-width: 40%;
  -webkit-box-shadow: 6px 7px 14px 3px #a8a8a8;
          box-shadow: 6px 7px 14px 3px #a8a8a8;
  padding: 5%;
}
